* {
  padding: 0;
  text-decoration: none;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #121212 !important;
  max-width: 100% !important;
  margin: 0;
}
.navbar {
  padding: 1rem 8%;
  background-color: #191919;
  max-width: 100%;
}
.navbar-brand {
  color: #1010c6 !important;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
}
.nav-item {
  padding: 10px 25px;
}
.nav-link {
  color: #1010c6 !important;
  font-weight: bold;
  text-transform: capitalize;
}
.nav-link:hover{
  color: white !important;
  transition: 0.4s;
}
.btn {
  color: #1010c6;
  text-decoration: none;
  border: 2px solid #1010c6;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}

/* hero styles */

/* .site-main .hero .site-title {
} */
.container-fluid {
  padding: 0 8%;
}

.site-main .hero .site-title h4 {
  padding-top: 30%;
  font-weight: bold;
  color: #1010c6;
  letter-spacing: 2px;
  font-size: 20px;
}
.site-main .hero .site-title h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #1010c6;
  font-size: 90px;
}

.site-main .hero .site-title h3 {
  font-size: 40px;
  color: #1010c6;
  font-weight: bold;
}

.site-main .hero img {
  width: 400px;
}
.site-main .hero .site-img {
  padding: 10px;
}
.site-main .hero .img-fluid{
padding: 0;
}

/* About styles */

.about{
  width: 100%;
  padding: 100px 0px;
  margin: 50px auto;
}
.about img {
  background-color: #191919;
  height: auto;
  width: 430px;
 
}
.about-text {
  padding: 30px;
  width: 550px;
}
.about-text h2 {
  color: #1010c6;
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text h5 span {
  color: #1010c6;
}
.about-text p {
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
